body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

#search-container {
    grid-row: 1 / 2;
    background-color: #005986;
    display: flex;
    align-items: center;
    padding: 30px;
}

#api-data {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #a3d3dd;
}

#number-data {
    grid-column: 1 / 2;
    display:flex;
    justify-content: center;
    align-items: center;
}

#number-data-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.weather-number {
    padding: 20px;
}

#gif-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#weather-gif {
    grid-column: 2 / 3;
    border-radius: 10px;
}